{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.salvy.com.br",
      "description": "Salvy API URL"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "key"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Salvy API",
    "x-logo": {
      "url": "web/logo.png"
    }
  },
  "tags": [
    {
      "name": "Public API"
    },
    {
      "name": "Outgoing Webhooks"
    }
  ],
  "paths": {
    "/api/v1/assets/{id}/archive": {
      "post": {
        "operationId": "publicArchiveAsset",
        "tags": [
          "Public API"
        ],
        "description": "Arquiva um equipamento por ID",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "resource-not-found"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "payload-too-large"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "input-validation-error",
                        "unprocessable-entity",
                        "company-not-active"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "deprecated": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/assets": {
      "post": {
        "operationId": "publicCreateAsset",
        "tags": [
          "Public API"
        ],
        "description": "Cria um novo equipamento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "enrollmentId": {
                    "type": "string",
                    "description": "Número de patrimônio do equipamento",
                    "example": "SLY-12345"
                  },
                  "category": {
                    "description": "Categoria do equipamento",
                    "example": "notebook",
                    "type": "string"
                  },
                  "brand": {
                    "description": "Marca do equipamento",
                    "example": "Dell",
                    "type": "string"
                  },
                  "model": {
                    "description": "Modelo do equipamento",
                    "example": "XPS 13",
                    "type": "string"
                  },
                  "vendorName": {
                    "description": "Nome do fornecedor do equipamento",
                    "example": "Tech Supplier Inc.",
                    "type": "string"
                  },
                  "serialNumber": {
                    "description": "Número de série do equipamento",
                    "example": "SN1234567890",
                    "type": "string"
                  },
                  "acquisitionDate": {
                    "description": "Data de aquisição do equipamento",
                    "example": "2025-12-10T03:00:00.000Z",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "acquisitionType": {
                    "description": "Tipo de aquisição do equipamento",
                    "example": "bought",
                    "type": "string",
                    "enum": [
                      "bought",
                      "rented",
                      "other"
                    ]
                  },
                  "priceCents": {
                    "description": "Preço de aquisição do equipamento em centavos",
                    "example": 250000,
                    "type": "number"
                  },
                  "nfeNumber": {
                    "description": "Número da nota fiscal de aquisição do equipamento",
                    "example": "000123456789",
                    "type": "string"
                  },
                  "contractId": {
                    "description": "Identificador do contrato relacionado ao equipamento",
                    "example": "CT-2024-0001",
                    "type": "string"
                  },
                  "warrantyExpirationDate": {
                    "description": "Data de expiração da garantia do equipamento",
                    "example": "2025-12-24T03:00:00.000Z",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "available",
                      "in-use",
                      "allocated",
                      "maintenance",
                      "broken",
                      "lost",
                      "stolen",
                      "sold",
                      "donated",
                      "discarded",
                      "archived"
                    ],
                    "description": "Situação do equipamento",
                    "example": "in-use"
                  },
                  "allocatedLocation": {
                    "description": "Local de alocação do equipamento",
                    "example": "Sala do RH",
                    "type": "string"
                  },
                  "employeeId": {
                    "description": "Id do colaborador ao qual o equipamento está associado",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "type": "string"
                  },
                  "employeeAttachedAt": {
                    "description": "Data de vinculação do colaborador ao equipamento. Removido automaticamente se o colaborador for desvinculado.",
                    "example": "2025-01-01T00:00:00.000Z",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "manual",
                      "sheets-import",
                      "nfe-import",
                      "desktop-client",
                      "mobile-app"
                    ],
                    "description": "Fonte de criação do equipamento",
                    "example": "desktop-client"
                  },
                  "customFields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "label",
                        "value"
                      ]
                    }
                  }
                },
                "required": [
                  "enrollmentId",
                  "status",
                  "source"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificador do equipamento na plataforma Salvy (UUID)",
                      "example": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "UUID",
                      "type": "string",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174000",
                        "123e4567-e89b-12d3-a456-426614174001"
                      ]
                    },
                    "enrollmentId": {
                      "type": "string",
                      "description": "Número de patrimônio do equipamento",
                      "example": "SLY-12345"
                    },
                    "category": {
                      "description": "Categoria do equipamento",
                      "example": "notebook",
                      "type": "string"
                    },
                    "brand": {
                      "description": "Marca do equipamento",
                      "example": "Dell",
                      "type": "string"
                    },
                    "model": {
                      "description": "Modelo do equipamento",
                      "example": "XPS 13",
                      "type": "string"
                    },
                    "vendorName": {
                      "description": "Nome do fornecedor do equipamento",
                      "example": "Tech Supplier Inc.",
                      "type": "string"
                    },
                    "serialNumber": {
                      "description": "Número de série do equipamento",
                      "example": "SN1234567890",
                      "type": "string"
                    },
                    "deviceId": {
                      "description": "ID do dispositivo coletado pelo aplicativo mobile da Salvy",
                      "example": "8A1D30F4-8C87-44CD-A663-2229DE6F64BD",
                      "type": "string"
                    },
                    "acquisitionDate": {
                      "description": "Data de aquisição do equipamento",
                      "example": "2025-12-10T03:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "acquisitionType": {
                      "description": "Tipo de aquisição do equipamento",
                      "example": "bought",
                      "type": "string",
                      "enum": [
                        "bought",
                        "rented",
                        "other"
                      ]
                    },
                    "priceCents": {
                      "description": "Preço de aquisição do equipamento em centavos",
                      "example": 250000,
                      "type": "number"
                    },
                    "nfeNumber": {
                      "description": "Número da nota fiscal de aquisição do equipamento",
                      "example": "000123456789",
                      "type": "string"
                    },
                    "contractId": {
                      "description": "Identificador do contrato relacionado ao equipamento",
                      "example": "CT-2024-0001",
                      "type": "string"
                    },
                    "warrantyExpirationDate": {
                      "description": "Data de expiração da garantia do equipamento",
                      "example": "2025-12-24T03:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "available",
                        "in-use",
                        "allocated",
                        "maintenance",
                        "broken",
                        "lost",
                        "stolen",
                        "sold",
                        "donated",
                        "discarded",
                        "archived"
                      ],
                      "description": "Situação do equipamento",
                      "example": "in-use"
                    },
                    "allocatedLocation": {
                      "description": "Local de alocação do equipamento",
                      "example": "Sala do RH",
                      "type": "string"
                    },
                    "employeeId": {
                      "description": "Id do colaborador ao qual o equipamento está associado",
                      "example": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "UUID",
                      "type": "string",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174000",
                        "123e4567-e89b-12d3-a456-426614174001"
                      ]
                    },
                    "employeeAttachedAt": {
                      "description": "Data de vinculação do colaborador ao equipamento. Removido automaticamente se o colaborador for desvinculado.",
                      "example": "2025-01-01T00:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                      "description": "Data de criação do equipamento",
                      "example": "2025-01-01T00:00:00.000Z"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "manual",
                        "sheets-import",
                        "nfe-import",
                        "desktop-client",
                        "mobile-app"
                      ],
                      "description": "Fonte de criação do equipamento",
                      "example": "desktop-client"
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "text",
                              "select"
                            ]
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "label",
                          "type",
                          "value"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Campos personalizados do equipamento",
                      "example": [
                        {
                          "label": "teste",
                          "type": "text",
                          "value": "teste"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "enrollmentId",
                    "status",
                    "createdAt",
                    "source",
                    "customFields"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "resource-not-found"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "payload-too-large"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "input-validation-error",
                        "unprocessable-entity",
                        "company-not-active"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "deprecated": false,
        "parameters": []
      },
      "get": {
        "operationId": "publicListAssets",
        "tags": [
          "Public API"
        ],
        "description": "Lista todos os equipamentos da empresa",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Identificador do equipamento na plataforma Salvy (UUID)",
                            "example": "123e4567-e89b-12d3-a456-426614174000",
                            "title": "UUID",
                            "type": "string",
                            "examples": [
                              "123e4567-e89b-12d3-a456-426614174000",
                              "123e4567-e89b-12d3-a456-426614174001"
                            ]
                          },
                          "enrollmentId": {
                            "type": "string",
                            "description": "Número de patrimônio do equipamento",
                            "example": "SLY-12345"
                          },
                          "category": {
                            "description": "Categoria do equipamento",
                            "example": "notebook",
                            "type": "string"
                          },
                          "brand": {
                            "description": "Marca do equipamento",
                            "example": "Dell",
                            "type": "string"
                          },
                          "model": {
                            "description": "Modelo do equipamento",
                            "example": "XPS 13",
                            "type": "string"
                          },
                          "vendorName": {
                            "description": "Nome do fornecedor do equipamento",
                            "example": "Tech Supplier Inc.",
                            "type": "string"
                          },
                          "serialNumber": {
                            "description": "Número de série do equipamento",
                            "example": "SN1234567890",
                            "type": "string"
                          },
                          "deviceId": {
                            "description": "ID do dispositivo coletado pelo aplicativo mobile da Salvy",
                            "example": "8A1D30F4-8C87-44CD-A663-2229DE6F64BD",
                            "type": "string"
                          },
                          "acquisitionDate": {
                            "description": "Data de aquisição do equipamento",
                            "example": "2025-12-10T03:00:00.000Z",
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "acquisitionType": {
                            "description": "Tipo de aquisição do equipamento",
                            "example": "bought",
                            "type": "string",
                            "enum": [
                              "bought",
                              "rented",
                              "other"
                            ]
                          },
                          "priceCents": {
                            "description": "Preço de aquisição do equipamento em centavos",
                            "example": 250000,
                            "type": "number"
                          },
                          "nfeNumber": {
                            "description": "Número da nota fiscal de aquisição do equipamento",
                            "example": "000123456789",
                            "type": "string"
                          },
                          "contractId": {
                            "description": "Identificador do contrato relacionado ao equipamento",
                            "example": "CT-2024-0001",
                            "type": "string"
                          },
                          "warrantyExpirationDate": {
                            "description": "Data de expiração da garantia do equipamento",
                            "example": "2025-12-24T03:00:00.000Z",
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "available",
                              "in-use",
                              "allocated",
                              "maintenance",
                              "broken",
                              "lost",
                              "stolen",
                              "sold",
                              "donated",
                              "discarded",
                              "archived"
                            ],
                            "description": "Situação do equipamento",
                            "example": "in-use"
                          },
                          "allocatedLocation": {
                            "description": "Local de alocação do equipamento",
                            "example": "Sala do RH",
                            "type": "string"
                          },
                          "employeeId": {
                            "description": "Id do colaborador ao qual o equipamento está associado",
                            "example": "123e4567-e89b-12d3-a456-426614174000",
                            "title": "UUID",
                            "type": "string",
                            "examples": [
                              "123e4567-e89b-12d3-a456-426614174000",
                              "123e4567-e89b-12d3-a456-426614174001"
                            ]
                          },
                          "employeeAttachedAt": {
                            "description": "Data de vinculação do colaborador ao equipamento. Removido automaticamente se o colaborador for desvinculado.",
                            "example": "2025-01-01T00:00:00.000Z",
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                            "description": "Data de criação do equipamento",
                            "example": "2025-01-01T00:00:00.000Z"
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "manual",
                              "sheets-import",
                              "nfe-import",
                              "desktop-client",
                              "mobile-app"
                            ],
                            "description": "Fonte de criação do equipamento",
                            "example": "desktop-client"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text",
                                    "select"
                                  ]
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "label",
                                "type",
                                "value"
                              ],
                              "additionalProperties": false
                            },
                            "description": "Campos personalizados do equipamento",
                            "example": [
                              {
                                "label": "teste",
                                "type": "text",
                                "value": "teste"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "enrollmentId",
                          "status",
                          "createdAt",
                          "source",
                          "customFields"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "assets"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "resource-not-found"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "payload-too-large"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "input-validation-error",
                        "unprocessable-entity",
                        "company-not-active"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "deprecated": false,
        "parameters": [
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "description": "Incluir equipamentos arquivados na resposta (padrão: false)",
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/assets/{id}/timeline-notes": {
      "post": {
        "operationId": "publicCreateAssetTimelineNote",
        "tags": [
          "Public API"
        ],
        "description": "Registra uma anotação na linha do tempo de um equipamento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "note": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Texto da anotação a ser registrada na linha do tempo",
                    "example": "Equipamento trocado por conta de problemas no SSD."
                  },
                  "authorName": {
                    "description": "Nome do autor da anotação",
                    "example": "João da Silva",
                    "type": "string"
                  }
                },
                "required": [
                  "note"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificador da anotação",
                      "example": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "UUID",
                      "type": "string",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174000",
                        "123e4567-e89b-12d3-a456-426614174001"
                      ]
                    },
                    "assetId": {
                      "description": "Identificador do equipamento",
                      "example": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "UUID",
                      "type": "string",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174000",
                        "123e4567-e89b-12d3-a456-426614174001"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                      "description": "Data e hora em que a anotação foi registrada",
                      "example": "2025-12-10T03:00:00.000Z"
                    },
                    "note": {
                      "type": "string",
                      "description": "Texto da anotação",
                      "example": "Equipamento trocado por conta de problemas no SSD."
                    },
                    "authorName": {
                      "description": "Nome do autor da anotação",
                      "example": "João da Silva",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "assetId",
                    "timestamp",
                    "note"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "resource-not-found"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "payload-too-large"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "input-validation-error",
                        "unprocessable-entity",
                        "company-not-active"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "deprecated": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/assets/{id}": {
      "get": {
        "operationId": "publicGetAssetById",
        "tags": [
          "Public API"
        ],
        "description": "Busca um equipamento por ID",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificador do equipamento na plataforma Salvy (UUID)",
                      "example": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "UUID",
                      "type": "string",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174000",
                        "123e4567-e89b-12d3-a456-426614174001"
                      ]
                    },
                    "enrollmentId": {
                      "type": "string",
                      "description": "Número de patrimônio do equipamento",
                      "example": "SLY-12345"
                    },
                    "category": {
                      "description": "Categoria do equipamento",
                      "example": "notebook",
                      "type": "string"
                    },
                    "brand": {
                      "description": "Marca do equipamento",
                      "example": "Dell",
                      "type": "string"
                    },
                    "model": {
                      "description": "Modelo do equipamento",
                      "example": "XPS 13",
                      "type": "string"
                    },
                    "vendorName": {
                      "description": "Nome do fornecedor do equipamento",
                      "example": "Tech Supplier Inc.",
                      "type": "string"
                    },
                    "serialNumber": {
                      "description": "Número de série do equipamento",
                      "example": "SN1234567890",
                      "type": "string"
                    },
                    "deviceId": {
                      "description": "ID do dispositivo coletado pelo aplicativo mobile da Salvy",
                      "example": "8A1D30F4-8C87-44CD-A663-2229DE6F64BD",
                      "type": "string"
                    },
                    "acquisitionDate": {
                      "description": "Data de aquisição do equipamento",
                      "example": "2025-12-10T03:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "acquisitionType": {
                      "description": "Tipo de aquisição do equipamento",
                      "example": "bought",
                      "type": "string",
                      "enum": [
                        "bought",
                        "rented",
                        "other"
                      ]
                    },
                    "priceCents": {
                      "description": "Preço de aquisição do equipamento em centavos",
                      "example": 250000,
                      "type": "number"
                    },
                    "nfeNumber": {
                      "description": "Número da nota fiscal de aquisição do equipamento",
                      "example": "000123456789",
                      "type": "string"
                    },
                    "contractId": {
                      "description": "Identificador do contrato relacionado ao equipamento",
                      "example": "CT-2024-0001",
                      "type": "string"
                    },
                    "warrantyExpirationDate": {
                      "description": "Data de expiração da garantia do equipamento",
                      "example": "2025-12-24T03:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "available",
                        "in-use",
                        "allocated",
                        "maintenance",
                        "broken",
                        "lost",
                        "stolen",
                        "sold",
                        "donated",
                        "discarded",
                        "archived"
                      ],
                      "description": "Situação do equipamento",
                      "example": "in-use"
                    },
                    "allocatedLocation": {
                      "description": "Local de alocação do equipamento",
                      "example": "Sala do RH",
                      "type": "string"
                    },
                    "employeeId": {
                      "description": "Id do colaborador ao qual o equipamento está associado",
                      "example": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "UUID",
                      "type": "string",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174000",
                        "123e4567-e89b-12d3-a456-426614174001"
                      ]
                    },
                    "employeeAttachedAt": {
                      "description": "Data de vinculação do colaborador ao equipamento. Removido automaticamente se o colaborador for desvinculado.",
                      "example": "2025-01-01T00:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                      "description": "Data de criação do equipamento",
                      "example": "2025-01-01T00:00:00.000Z"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "manual",
                        "sheets-import",
                        "nfe-import",
                        "desktop-client",
                        "mobile-app"
                      ],
                      "description": "Fonte de criação do equipamento",
                      "example": "desktop-client"
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "text",
                              "select"
                            ]
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "label",
                          "type",
                          "value"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Campos personalizados do equipamento",
                      "example": [
                        {
                          "label": "teste",
                          "type": "text",
                          "value": "teste"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "enrollmentId",
                    "status",
                    "createdAt",
                    "source",
                    "customFields"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "resource-not-found"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "payload-too-large"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "input-validation-error",
                        "unprocessable-entity",
                        "company-not-active"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unknown"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "deprecated": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "publicUpdateAsset",
        "tags": [
          "Public API"
        ],
        "description": "Atualiza um equipamento por ID",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "enrollmentId": {
                    "description": "Número de patrimônio do equipamento",
                    "example": "SLY-12345",
                    "type": "string"
                  },
                  "category": {
                    "description": "Categoria do equipamento",
                    "example": "notebook",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "brand": {
                    "description": "Marca do equipamento",
                    "example": "Dell",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "model": {
                    "description": "Modelo do equipamento",
                    "example": "XPS 13",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "vendorName": {
                    "description": "Nome do fornecedor do equipamento",
                    "example": "Tech Supplier Inc.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "serialNumber": {
                    "description": "Número de série do equipamento",
                    "example": "SN1234567890",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "acquisitionDate": {
                    "description": "Data de aquisição do equipamento",
                    "example": "2025-12-10T03:00:00.000Z",
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "acquisitionType": {
                    "description": "Tipo de aquisição do equipamento",
                    "example": "bought",
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "bought",
                          "rented",
                          "other"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "priceCents": {
                    "description": "Preço de aquisição do equipamento em centavos",
                    "example": 250000,
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "nfeNumber": {
                    "description": "Número da nota fiscal de aquisição do equipamento",
                    "example": "000123456789",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "contractId": {
                    "description": "Identificador do contrato relacionado ao equipamento",
                    "example": "CT-2024-0001",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "warrantyExpirationDate": {
                    "description": "Data de expiração da garantia do equipamento",
                    "example": "2025-12-24T03:00:00.000Z",
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "description": "Situação do equipamento",
                    "example": "in-use",
                    "type": "string",
                    "enum": [
                      "available",
                      "in-use",
                      "allocated",
                      "maintenance",
                      "broken",
                      "lost",
                      "stolen",
                      "sold",
                      "donated",
                      "discarded",
                      "archived"
                    ]
                  },
                  "allocatedLocation": {
                    "description": "Local de alocação do equipamento",
                    "example": "Sala do RH",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "employeeId": {
                    "description": "Id do colaborador ao qual o equipamento está associado",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "employeeAttachedAt": {
                    "description": "Data de vinculação do colaborador ao equipamento. Removido automaticamente se o colaborador for desvinculado.",
                    "example": "2025-01-01T00:00:00.000Z",
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "customFields": {
                    "description": "Campos personalizados do equipamento",
                    "example": [
                      {
                        "label": "teste",
                        "value": "teste"
                      }
                    ],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "label",
                        "value"
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificador do equipamento na plataforma Salvy (UUID)",
                      "example": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "UUID",
                      "type": "string",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174000",
                        "123e4567-e89b-12d3-a456-426614174001"
                      ]
                    },
                    "enrollmentId": {
                      "type": "string",
                      "description": "Número de patrimônio do equipamento",
                      "example": "SLY-12345"
                    },
                    "category": {
                      "description": "Categoria do equipamento",
                      "example": "notebook",
                      "type": "string"
                    },
                    "brand": {
                      "description": "Marca do equipamento",
                      "example": "Dell",
                      "type": "string"
                    },
                    "model": {
                      "description": "Modelo do equipamento",
                      "example": "XPS 13",
                      "type": "string"
                    },
                    "vendorName": {
                      "description": "Nome do fornecedor do equipamento",
                      "example": "Tech Supplier Inc.",
                      "type": "string"
                    },
                    "serialNumber": {
                      "description": "Número de série do equipamento",
                      "example": "SN1234567890",
                      "type": "string"
                    },
                    "deviceId": {
                      "description": "ID do dispositivo coletado pelo aplicativo mobile da Salvy",
                      "example": "8A1D30F4-8C87-44CD-A663-2229DE6F64BD",
                      "type": "string"
                    },
                    "acquisitionDate": {
                      "description": "Data de aquisição do equipamento",
                      "example": "2025-12-10T03:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "acquisitionType": {
                      "description": "Tipo de aquisição do equipamento",
                      "example": "bought",
                      "type": "string",
                      "enum": [
                        "bought",
                        "rented",
                        "other"
                      ]
                    },
                    "priceCents": {
                      "description": "Preço de aquisição do equipamento em centavos",
                      "example": 250000,
                      "type": "number"
                    },
                    "nfeNumber": {
                      "description": "Número da nota fiscal de aquisição do equipamento",
                      "example": "000123456789",
                      "type": "string"
                    },
                    "contractId": {
                      "description": "Identificador do contrato relacionado ao equipamento",
                      "example": "CT-2024-0001",
                      "type": "string"
                    },
                    "warrantyExpirationDate": {
                      "description": "Data de expiração da garantia do equipamento",
                      "example": "2025-12-24T03:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "available",
                        "in-use",
                        "allocated",
                        "maintenance",
                        "broken",
                        "lost",
                        "stolen",
                        "sold",
                        "donated",
                        "discarded",
                        "archived"
                      ],
                      "description": "Situação do equipamento",
                      "example": "in-use"
                    },
                    "allocatedLocation": {
                      "description": "Local de alocação do equipamento",
                      "example": "Sala do RH",
                      "type": "string"
                    },
                    "employeeId": {
                      "description": "Id do colaborador ao qual o equipamento está associado",
                      "example": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "UUID",
                      "type": "string",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174000",
                        "123e4567-e89b-12d3-a456-426614174001"
                      ]
                    },
                    "employeeAttachedAt": {
                      "description": "Data de vinculação do colaborador ao equipamento. Removido automaticamente se o colaborador for desvinculado.",
                      "example": "2025-01-01T00:00:00.000Z",
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                      "description": "Data de criação do equipamento",
                      "example": "2025-01-01T00:00:00.000Z"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "manual",
                        "sheets-import",
                        "nfe-import",
                        "desktop-client",
                        "mobile-app"
                      ],
                      "description": "Fonte de criação do equipamento",
                      "example": "desktop-client"
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "text",
                              "select"
                            ]
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "label",
                          "type",
                          "value"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Campos personalizados do equipamento",
                      "example": [
                        {
                          "label": "teste",
                          "type": "text",
                          "value": "teste"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "enrollmentId",
                    "status",
                    "createdAt",
                    "source",
                    "customFields"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "forbidden"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "publicDetails": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "publicDetails"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
[...]
